[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    C0114,  # Missing module docstring
    C0115,  # Missing class docstring
    C0116,  # Missing function or method docstring
    R0903,  # Too few public methods
    E0401,  # Unable to import
    E0611,  # No name in module

[REPORTS]
# Set the output format. Available formats are text, parseable, colorized, json and msvs (visual studio).
output-format=colorized

# Tells whether to display a full report or only the messages
reports=no